img{
    width: 300px;
}

a:hover{
    color: rgb(94, 196, 255);
}

#covidNews{

   
    height: 55vh;
    overflow: auto;
    scrollbar-width: thin;          
    scrollbar-color: blue orange;   
    
}

#body{

    background-color: black;
    background-image:url('1.jpg');
   
    margin: 0%;
    height: 84vh;
    margin: 0%;
    overflow: auto;
   
    
    

   
}

#header
{
   
    width: 100vw;
    margin-bottom: 0%;
    background-color: black;
    background-image:url('HealthcareHeader2.jpg');
    background-position:right bottom;
    
    margin: 0;

}

.health-text
{
    color: rgb(9, 111, 136);
}

.health-bg
{
    background-color:  rgb(9, 111, 136);;
}

#flag
{
    width: 130px;
}

#dropdown-menu4{
    
    overflow: scroll;
    scrollbar-width: thin;   
    height: 50vh;
}

#search,#searchCountry{
    width: 350px;
}

html{

    overflow: hidden;
    margin: 0%;
    
}



